:root {
    --main-font: 'Montserrat', sans-serif;
}


body {
    font-family: var(--main-font);
    background-color: gray;
}

.header-text {
    color: white;
    text-align: center;

}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: white 2px solid;
    
    
}

main {
    display: flex;
    justify-content: center;
}

.date-info {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: rgb(58, 58, 58);
}

.button-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 7px;
    transition: 1s cubic-bezier(.04,.89,.16,.96);
}

.button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.get-full-date {
    background-color: lightseagreen;
    color: white;
    border: 2px white solid;
    transition: 0.2s cubic-bezier(.04,.89,.16,.96);
    &:hover {
        scale: 1.1;
    }
}


.get-date {
    background-color: lightcoral;
    color: white;
    border: 2px white solid;
    transition: 0.2s cubic-bezier(.04,.89,.16,.96);
        &:hover {
            scale: 1.1;
        }
}

.getTime {
    background-color: lightskyblue;
    color: white;
    border: 2px white solid;
    transition: 0.2s cubic-bezier(.04,.89,.16,.96);
    &:hover {
        scale: 1.1;
    }
}

